@model musicweb.Models.users
<!DOCTYPE html>
<html>
<head>
    <title>Music Wonder Land</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Assest/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assest/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Assest/css/icon-font.css" type='text/css' />
    <link rel="stylesheet" type="text/css" href="~/Assest/css/musicweb.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Assest/css/jquery-ui.css" rel="stylesheet">
    <link href="~/Assest/css/facebook.css" rel="stylesheet" />
    <script src="~/Assest/js/facebook.js"></script>
    <script src="~/Assest/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assest/js/jquery-ui.js"></script>



    <script>
  function joinmusic(){
      document.getElementById('tabmusic').style.backgroundColor ='white';
      document.getElementById('tabvideo').style.backgroundColor ='rgb(241, 241, 241)';

    }

    function joinvideo(){
        document.getElementById('tabmusic').style.backgroundColor ='rgb(241, 241, 241)';
      document.getElementById('tabvideo').style.backgroundColor ='white';

    }
    function clicksignup(){
        document.getElementById('loginform').style.display = 'none';
        document.getElementById('chatbox').style.display = 'none';
  if(document.getElementById('formsignup').style.display==='block')
   { document.getElementById('formsignup').style.display ='none';

     
   }
   else
   {
   document.getElementById('formsignup').style.display='block';
   document.getElementById('ol').style.display='none';
   }
}
function clicklogin(){

  if(document.getElementById('loginform').style.display ==='block')
  document.getElementById('loginform').style.display='none';
  else
  document.getElementById('loginform').style.display='block';

}
function openmess()
{

  if(document.getElementById('chatbox').style.display==='block'){
    document.getElementById('chatbox').style.display='none';
  }

  else{
    document.getElementById('chatbox').style.display='block';
    console.log("1");
  }


}
function cancelfuction(){
  document.getElementById('formsignup').style.display='none';
  document.getElementById('ol').style.display='block';
}


        $(function () {

            var availableTags = new Array();


            $.getJSON('/api/song', function (data) {

                $(data).each(function (key, value) {


                    availableTags.push(value.songName);
                   
                });

            });


            $("#textsearch").autocomplete({
                source: availableTags
            });
        });
        $(document).ready(function () {
            $('body').on('click', '#buttonsearch', function (e) {
                e.preventDefault();

                $.ajax(
                    {
                        method: 'GET',
                        url: '@Url.Action("GetSource", "Home")',
                        data: { source: $('#textsearch').val() },
                        type: 'text',
                        success: function (response) {
                            window.location.href = '/Home/search';
                        }
                    });
            });
        });
       
    </script>
   
</head>
<body>

    <div id="banner">

        <div id="logo" class="col-md-3">

            <img class="img-rounded" src="~/Assest/image/logo1.png" alt="logo1">

        </div>

        <div id="tab" class="col-md-3">
            <ul>
                <li id="tabmusic"><a href="/Home/index/#contentmusic" onclick="joinmusic()">Music</a></li>
                <li id="tabvideo"><a href="/Home/index/#contentvideo" onclick="joinvideo()">Video</a></li>
            </ul>
        </div>
        <div id="search" class="col-md-2">
            <div class="form-group">
               
                <input type="text" class="form-control" id="textsearch" placeholder="Search" style="width:250px;height:34px;" />


            </div>

        </div>

        <div id="emty2" class="col-md-1">
            <button id="buttonsearch" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>

        </div>
        <div id="loginandsignup" class="col-md-3">

            <li id="signupbutton"><a href="@Url.Action("Register","Account")" onclick="clicksignup()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li id="loginbutton"><a href="#" onclick="clicklogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            <li id="Signoutbutton" style="display:none;"><a href="@Url.Action("logout","Home")"><span class="glyphicon glyphicon-log-out"></span> logout</a>
</div>

    </div>

    <div id="menuzone">
        <div id="emty3" class="col-md-2">

        </div>

        <div id="menu" class="col-md-6">
            <ul>
                <li><i class="lnr lnr-home"></i> &nbsp;<a href="@Url.Action("Index","Home")">Home</a></li>
                <li>
                    <i class="lnr lnr-music-note"></i> &nbsp;<a href="@Url.Action("Type","Home")">Types</a>
                    

                </li>
                <li><i class="lnr lnr-users"></i> &nbsp;<a href="@Url.Action("Artist","Home")">Artist</a></li>
                <li><i class="lnr lnr-book"></i> &nbsp;<a href="@Url.Action("Album","Home")">Album</a></li>
                <li><i class="lnr lnr-arrow-down"></i> &nbsp;<a href="@Url.Action("Top10","Home")">Top 10</a></li>
               
            </ul>
        </div>
        <div id="emty4" class="col-md-1"></div>
        <div id="userzone" class="col-md-3">
            <li><i class="lnr lnr-heart"></i> &nbsp;<a id="favor" href="@Url.Action("favor","Home")"  >My favorite</a></li>
        </div>

    </div>


    @RenderBody()

    @using (Html.BeginForm("login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div id="loginform" style="top:-950px;">
            <div class="arrow-up"></div>
            <div class="formholder">
                <div class="randompad">
                    <fieldset>
                        <label name="email">Email</label>
                        @Html.TextBoxFor(u => u.userName, new { @class = "form-control", @placeholder = "example@example.com" })
                        @*<input type="email" placeholder="example@example.com" id="email" />*@
                        <label name="password">Password</label>
                        @*<input type="password" id="pass" />*@
                        @Html.TextBoxFor(u => u.userPass, new { @class = "form-control" ,@type= "password" })
                        <br />
                        <input type="submit" value="Login" id="btnLogin" />

                    </fieldset>
                </div>
            </div>
        </div>
    }

    
    <div class="hisella-messages">
        <div class="hisella-messages-outer">
            <div id="hisella-minimize">Facebook chat</div>
            <div id="hisella-facebook" class='fb-page' data-adapt-container-width='true' data-height='300' data-hide-cover='false' data-href='https://www.facebook.com/Music-online-1915020188818219/' data-show-facepile='true' data-show-posts='false' data-small-header='false' data-tabs='messages' data-width='250'>
            </div>
        </div>
    </div>
    <div id="footerzone" style="background-color:rgb(241, 241, 241)">
        <div id="emty5" class="col-md-2">
        </div>

        <div id="footer" class="col-md-8" >
            <div id="contactlogo">

                <a href="#"><i class="fa fa-facebook-square" style="font-size:48px;color:blue;"></i></a>
                <a href="#"><i class="fa fa-google-plus-square" style="font-size:48px;color:blue;"></i></a>
                <a href="#"><i class="	fa fa-twitter" style="font-size:48px;color:blue;"></i></a>
                <a href="#"><i class="fa fa-telegram" style="font-size:48px;color:blue;"></i></a>
            </div>
        </div>
        <div id="emty6" class="col-md-2"></div>
    </div>

</body>

</html>
